footer {
    max-height: 5vh;
    font-size: large;
    font-weight: 500;
    color: rgb(218, 224, 229);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer p {
    margin-top:2.5vh;
    margin-bottom: 2.5vh;
  }