.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    &.error {
        background-color: red;
    }

    .title-form{
        font-size: small;
        padding-bottom: 3rem;
    }
 

    .register-form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 300px;

        .input-container {
            margin-bottom: 1rem;

            label {
                margin-right: 0.5rem;
            }

            input {
                padding: 0.5rem;
                border: none;
                border-bottom: 2px solid #ccc;
                border-radius: 10%;
                transition: border-color 0.3s ease-in-out;

                &.error {
                    border-color: red;
                }
            }

            .error-message {
                color: red;
            }
        }
    }

    .btn-container {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        position: relative;
      
    }

    .register-btn,
    .clear-btn {
        background-color: transparent;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: 0.4s ease-in-out;

        svg {
            font-size: 3rem;
        }
    }

    .register-btn {
        color: rgb(218, 197, 11);
        border: 5px solid rgb(206, 228, 10);

        &:hover {
            border-color: green;
            z-index: 1;
            
        }
    }

    .clear-btn {
        color: orange;
        border: 5px solid orange;

        &:hover {
            border-color: red;
            z-index: 1;
            
        }
    }
      
}